<form [formGroup]="form">
    
     
    <div class="row" *ngIf="form.get('webhook_last_error').value">
    <div class="col-md-8">
        <mat-form-field appearance="fill">
            <mat-label>Webhook Last Error</mat-label>
            <input matInput type="text" formControlName="webhook_last_error" 
                autocomplete="off">
        </mat-form-field>
    </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>Event type</mat-label>
                <mat-select formControlName="event_type">
                    <mat-option *ngFor="let eventType of eventTypes" [value]="eventType">
                        {{eventType}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-8">
            <mat-form-field appearance="fill">
                <mat-label>Event description</mat-label>
                <input matInput type="text" formControlName="description" placeholder="Goldstein Wedding"
                    autocomplete="off" required>
            </mat-form-field>
        </div>
    </div>

    <mat-divider></mat-divider>
    
    <h2>Status</h2>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status" (selectionChange)="onChangeStatus($event)">
                    <mat-option *ngFor="let status of statuses" [value]="status.id">
                        {{status.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>status update date</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="status_update_date" readonly>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
    </div>

    
</form> 