<div class="row">
    <div class="col-md-4">
     
        <button mat-raised-button color="primary" (click)="openJotForm($event)" class="pull-left">Send JotForm Email</button>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
<table mat-table [dataSource]="dataSource" appearance="fill" >


    
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="to">
        <th mat-header-cell *matHeaderCellDef>To</th>
        <td mat-cell *matCellDef="let element">{{ element.to }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
            <mat-chip-list >
                <span *ngFor="let update of element.updates">
                    <mat-chip>{{update.event}}</mat-chip>
                </span>
                
            </mat-chip-list>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
</div>
</div>

