<div class="row mt-3">
    <div class="col-md-12">
        <table mat-table [dataSource]="dataSource" appearance="fill">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.formTitle }}</td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Submission Id</th>
                <td mat-cell *matCellDef="let element">{{ element.submissionID }}</td>
            </ng-container>

            <ng-container matColumnDef="applied">
                <th mat-header-cell *matHeaderCellDef>Applied</th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon *ngIf="element.applied === 'true'">check</mat-icon>
                    <mat-icon *ngIf="element.applied === 'false'">cancel</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                     <button (click)="applySubmission(element.submissionID, element.formID)" mat-icon-button color="primary">
                        <mat-icon>cached</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
</div>