<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-12">
            <AutocompleteComponent (setAddress)="getEstablishmentAddress($event)" adressType="establishment">
            </AutocompleteComponent>
          </div>
        </div>
        <br>

       

          <div class="row">
            <div class="col-md-12">
              <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Name" type="text">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput   formControlName="address" placeholder="Address"
                  type="text">
              </mat-form-field>
            </div>
           
          </div>
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <input matInput   formControlName="city" placeholder="City" type="text">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="fill">
                <mat-label>State</mat-label>
                <input matInput   formControlName="state" placeholder="State" type="text">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="fill">
                <mat-label>Zip</mat-label>
                <input matInput formControlName="zip" placeholder="Postal Code" type="text">
              </mat-form-field>
            </div>
          </div>
          <div class="row">

            <div class="col-md-4">
              <mat-form-field appearance="fill">
                <mat-label>Phone</mat-label>
                <input matInput  placeholder="phone" formControlName="phone" type="phone">
              </mat-form-field>
            </div>
          </div>
         
          <button mat-button cdkFocusInitial class="btn btn-info pull-right">Save</button>
          <button mat-button [mat-dialog-close]="false" cdkFocusInitial class="btn btn-info pull-right">Cancel</button>
          <div class="clearfix"></div>
        </form>
      </div>


    </div>
  </div>
</div>