<div class="row">
    <div class="col-md-12">
        <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select>
                <mat-option *ngFor="let status of statuses" [value]="status.name">
                    {{status.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        
        <form [formGroup]="VOForm" autocomplete="off" appearance="fill">
            <ng-container formArrayName="VORows">
                <table #table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Description </th>
                        <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
                            <mat-form-field [appearance]="VOForm.get('VORows').value[i].isEditable? 'none' : 'fill'">
                                <input matInput type="text" formControlName="description"
                                    [readonly]="VOForm.get('VORows').value[i].isEditable">
                            </mat-form-field>
                        </td>
                    </ng-container>
                     
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Due Date </th>
                        <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
                            <mat-form-field [appearance]="VOForm.get('VORows').value[i].isEditable? 'none' : 'fill'">
                                <input matInput [matDatepicker]="picker" formControlName="date"
                                    [readonly]="VOForm.get('VORows').value[i].isEditable">
                                <mat-datepicker-toggle matSuffix [for]="picker"
                                    *ngIf="!VOForm.get('VORows').value[i].isEditable"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </td>
                    </ng-container>

                   
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
                            <mat-form-field [appearance]="VOForm.get('VORows').value[i].isEditable? 'none' : 'legacy'">
                                <mat-select formControlName="status"
                                    [disabled]="VOForm.get('VORows').value[i].isEditable">
                                    <mat-option *ngFor="let taskStatus of taskStatuses" [value]="taskStatus.id">
                                        {{taskStatus.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="note">
                        <th mat-header-cell *matHeaderCellDef> Note </th>
                        <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
                            <mat-form-field [appearance]="VOForm.get('VORows').value[i].isEditable? 'none' : 'legacy'">
                                <textarea matInput type="text" formControlName="note"
                                    [readonly]="VOForm.get('VORows').value[i].isEditable"></textarea>
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
                            <button mat-icon-button class="material-icons app-toolbar-menu save-button"
                                matTooltip="Save Changes" (click)="SaveVO(VOForm,i)"
                                *ngIf="!VOForm.get('VORows').value[i].isEditable" color="primary">
                                <mat-icon>check_circle</mat-icon>
                            </button>

                            <button mat-icon-button class="material-icons app-toolbar-menu cancel-button"
                                matTooltip="Cancel Changes" color="warn" (click)="CancelSVO(VOForm,i)"
                                *ngIf="!VOForm.get('VORows').value[i].isEditable">
                                <mat-icon>cancel</mat-icon>
                            </button>

                            <button mat-icon-button class="material-icons app-toolbar-menu save-button"
                                *ngIf="VOForm.get('VORows').value[i].isEditable" matTooltip="Edit" color="primary"
                                (click)="EditSVO(VOForm,i)">
                                <mat-icon>edit</mat-icon>
                            </button>

                            <button mat-icon-button class="material-icons app-toolbar-menu delete-button"
                                *ngIf="VOForm.get('VORows').value[i].isEditable" matTooltip="Delete" color="warn"
                                (click)="DeleteSVO(VOForm,i)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                   
              


                </table>
            </ng-container>
        </form>
        
        <button mat-raised-button color="primary" class="btn btn-primary pull-left" (click)="AddNewRow(null)"><i class="material-icons">add</i>Add
        </button>
        <button mat-raised-button color="primary" class="btn btn-primary pull-left" (click)="AddNewRow('Send Proposal')"><i class="material-icons">add</i>Proposal
        </button>
        <button mat-raised-button color="primary" class="btn btn-primary pull-left" (click)="AddNewRow('Pre-Contract Questionnaire')"><i class="material-icons">add</i>Pre-Contract Questionnaire
        </button>
        <button mat-raised-button color="primary" class="btn btn-primary pull-left" (click)="AddNewRow('Contract')"><i class="material-icons">add</i>Contract
        </button>
    </div>
</div>