<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Gig</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="gigForm" (ngSubmit)="onSubmit()">


                            <div class="row">
                                <div class="col-md-12">
                                    <label>Gig Description</label>

                                    <mat-form-field class="example-full-width">
                                        <input matInput class="form-control" formControlName="description" type="text">
                                    </mat-form-field>

                                    <mat-label>Type</mat-label>
                                    <mat-form-field>
                                        <mat-select formControlName="typeId" type="text">
                                            <mat-option *ngFor="let gigType of gigTypes" [value]="gigType.id">
                                                {{gigType.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <button mat-raised-button type="submit" *ngIf="isAddMode"
                                        class="btn btn-info pull-right">Add New Gig</button>
                                    <button mat-raised-button type="submit" *ngIf="!isAddMode"
                                        class="btn btn-info pull-right">Update Gig</button>
                                    <div class="clearfix"></div>


                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="row" *ngIf="!isAddMode">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-info">
                        <h4 class="card-title">Venue</h4>
                    </div>
                    <div class="card-body">

                        <button mat-button (click)="openDialog()" class="btn btn-info pull-right">
                            <i class="material-icons">add</i> Add
                        </button>

                        <form [formGroup]="venueUpdateForm" (ngSubmit)="onUpdateVenue()">
                            <label>Venue</label><br>
                            <mat-form-field class="example-full-width" appearance="fill">

                                <input matInput placeholder="Search (name)" [matAutocomplete]="auto3"
                                    [formControl]="venueFormControl" />

                                <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayVenue.bind(this)">
                                    <mat-option *ngFor="let venue of filteredVenues | async" [value]="venue.id">
                                        <span>{{venue.name}}</span><br>
                                        <small>{{venue.addressLine1}} {{venue.addressLine2}}</small><br>
                                        <small>{{venue.city}} {{venue.state}} {{venue.zip}}</small><br>
                                    </mat-option>
                                </mat-autocomplete>

                            </mat-form-field>
                            <button mat-raised-button type="submit" class="btn btn-info pull-right">Update
                                Venue</button>
                        </form>
                        <div class="col-md-12">

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row" *ngIf="!isAddMode">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-info">
                        <h4 class="card-title">Venue</h4>
                    </div>
                    <div class="card-body">

                        <button mat-button (click)="addNewContact()" class="btn btn-info pull-right">
                            <i class="material-icons">add</i> Add
                        </button>

                        <div class="table-responsive">
                            <table class="table align-middle mb-0 bg-white">
                                <thead class="bg-light">
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Type</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let gigContact of gigContacts">

                                        <td>
                                            <i class="material-icons">{{gigContact.type.icon}}</i>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="ms-1">
                                                    <p class="fw-bold mb-1"><b>{{gigContact.contact.firstName}}
                                                            {{gigContact.contact.lastName}}</b></p>
                                                    <p class="text-muted mb-0">{{gigContact.contact.email}}</p>
                                                    <p class="text-muted mb-0">{{gigContact.contact.phone}}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="fw-normal mb-1">{{gigContact.contact.addressLine1}}
                                                {{gigContact.contact.addressLine2}}</p>
                                            <p class="text-muted mb-0"> {{gigContact.contact.city}}
                                                {{gigContact.contact.state}}, {{gigContact.contact.zip}}</p>
                                        </td>
                                        <td>
                                            <p class="fw-normal mb-1">{{gigContact.type.name}}</p>
                                        </td>


                                        <td class="td-actions">
                                            <button type="button" rel="tooltip" class="btn btn-info"
                                                (click)="editContact(gigContact)">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <p></p>
                                            <button type="button" rel="tooltip" class="btn btn-warning"
                                                (click)="deleteContact(gigContact)">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


  




</div>