<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-5 col-md-12"> 
            <button mat-raised-button type="submit" *ngIf="!isAddMode" class="btn btn-warning pull-left"
                (click)="onSubmit()"><i class="material-icons">save</i> Save
            </button>
            <button mat-raised-button (click)="onSubmit()" *ngIf="isAddMode" class="btn btn-alert pull-left"><i
                    class="material-icons">add</i> Click to continue
            </button>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Gig</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="gigForm" (ngSubmit)="onSubmit()">


                            <div class="row">
                                <div class="col-md-12">
                                    <label>Gig Description</label>

                                    <mat-form-field class="example-full-width">
                                        <input matInput class="form-control" formControlName="description" type="text">
                                    </mat-form-field>

                                    <mat-label>Type</mat-label>
                                    <mat-form-field>
                                        <mat-select formControlName="typeId" type="text">
                                            <mat-option *ngFor="let gigType of gigTypes" [value]="gigType.id">
                                                {{gigType.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-label>Date</mat-label>
                                    <mat-form-field>
                                        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" formControlName="dateTime">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
                                           [stepHour]="true" [stepMinute]="30" [stepSecond]="false" [defaultTime]="[00,00,00]"
                                           [touchUi]="true"  
                                           [disableMinute]="false" [hideTime]="false" enableMeridian="true">
                                        </ngx-mat-datetime-picker>
                                     </mat-form-field>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Status</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="gigForm">


                            <mat-label>Status</mat-label>
                            <mat-form-field>
                                <mat-select formControlName="statusId" type="text">
                                    <mat-option *ngFor="let gigStatus of gigStatuses" [value]="gigStatus.id">
                                        {{gigStatus.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </form>
                    </div>
                </div>

            </div>

            <div class="col-lg-2 col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Quote</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="gigForm">


                            <mat-label>Quote</mat-label>
                            <mat-form-field class="example-full-width">
                                <input matInput class="form-control" formControlName="quote" type="text">
                            </mat-form-field>

                        </form>
                    </div>
                </div>

            </div>
        </div>


        <div class="row" *ngIf="!isAddMode">
            <div class="col-lg-5 col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Notes</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="gigForm">
                            <editor formControlName="note" apiKey="p9ejaukcdifecl6fhwowyud2bjuqzwbyfiyhtktmxtvbx0nq"
                                [init]="{
                                    height : '200',
                    
                            toolbar: 'undo redo | blocks | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | help'

                        }"></editor>
                        </form>
                    </div>
                </div>
            </div>



            <div class="col-lg-5 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-info">
                        <h4 class="card-title">Venue</h4>
                    </div>
                    <div class="card-body">

                        <button mat-button (click)="openDialog()" class="btn btn-info pull-right">
                            <i class="material-icons">add</i> Add
                        </button>

                        <form [formGroup]="gigForm">
                            <label>Venue</label><br>
                            <mat-form-field class="example-full-width" appearance="fill">

                                <input matInput placeholder="Search (name)" [matAutocomplete]="auto3"
                                    formControlName="venueId" />

                                <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayVenue.bind(this)">
                                    <mat-option *ngFor="let venue of filteredVenues | async" [value]="venue.id">
                                        <span>{{venue.name}}</span><br>
                                        <small>{{venue.addressLine1}} {{venue.addressLine2}}</small><br>
                                        <small>{{venue.city}} {{venue.state}} {{venue.zip}}</small><br>
                                    </mat-option>
                                </mat-autocomplete>

                            </mat-form-field>

                        </form>

                    </div>

                </div>

            </div>
        </div>
        <div class="row" *ngIf="!isAddMode">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-info">
                        <h4 class="card-title">Contacts</h4>
                    </div>
                    <div class="card-body">

                        <button mat-button (click)="addNewContact()" class="btn btn-info pull-right">
                            <i class="material-icons">add</i> Add
                        </button>

                        <div class="table-responsive">
                            <table class="table align-middle mb-0 bg-white">
                                <thead class="bg-light">
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Type</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let gigContact of gigContacts">

                                        <td>
                                            <i class="material-icons">{{gigContact.type.icon}}</i>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="ms-1">
                                                    <p class="fw-bold mb-1"><b>{{gigContact.contact.firstName}}
                                                            {{gigContact.contact.lastName}}</b></p>
                                                    <p class="text-muted mb-0">{{gigContact.contact.email}}</p>
                                                    <p class="text-muted mb-0">{{gigContact.contact.phone}}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="fw-normal mb-1">{{gigContact.contact.addressLine1}}
                                                {{gigContact.contact.addressLine2}}</p>
                                            <p class="text-muted mb-0"> {{gigContact.contact.city}}
                                                {{gigContact.contact.state}}, {{gigContact.contact.zip}}</p>
                                        </td>
                                        <td>
                                            <p class="fw-normal mb-1">{{gigContact.type.name}}</p>
                                        </td>


                                        <td class="td-actions">
                                            <button type="button" rel="tooltip" class="btn btn-info"
                                                (click)="editContact(gigContact)">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <p></p>
                                            <button type="button" rel="tooltip" class="btn btn-warning"
                                                (click)="deleteContact(gigContact)">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>










</div>