

<div class="row">
    <div class="col-md-8">
        <mat-form-field appearance="fill">
            <mat-label>Email Address</mat-label>
            <mat-select [formControl]="email_address" required>
                <mat-option *ngFor="let email of emailList" [value]="email">
                    {{email.type}} : {{email.name}} | {{email.email}}
                </mat-option>
            </mat-select>
           
        </mat-form-field>
      
        
    </div>
    <div class="col">
        <button mat-raised-button [disabled]="email_address.pristine" color="primary" (click)="onSend($event)" class="pull-right">Send</button>
    </div>
     
   
   
   
    
</div>

<div class="row">
    <div class="col-md-12">
        <editor [formControl]="dataModel" apiKey="p9ejaukcdifecl6fhwowyud2bjuqzwbyfiyhtktmxtvbx0nq"></editor>
    </div>
</div>



<button mat-raised-button [mat-dialog-close]="false" class="btn btn-info pull-right">Cancel</button>


