<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <button mat-raised-button class="btn btn-info" [routerLink]="['/venue-detail']">Add New</button>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header-info">
                        <h4 class="card-title ">Venues</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table align-middle mb-0 bg-white">
                                <thead class="bg-light">
                                  <tr>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Actions</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let venue of venues">
                                    <td>
                                      <div class="d-flex align-items-center">
                                        <div class="ms-1">
                                          <p class="font-weight-bolder"><b>{{venue.name}}</b></p>
                                          <p class="text-muted mb-0">{{venue.phone}}</p>
                                        </div>
                                      </div>
                                    </td>
                                    <td>
                                      <p class="fw-normal mb-1">{{venue.addressLine1}} {{venue.addressLine2}}</p>
                                      <p class="text-muted mb-0">{{venue.city}} {{venue.state}}, {{venue.zip}}</p>
                                    </td>
                                    <td class="td-actions">
                                        <button type="button" rel="tooltip" class="btn btn-info" [routerLink]="['/venue-detail', venue.id]">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  