<div class="main-content">

    

    <ng-container [formGroup]="form">

         

        <div class="row mb-3 mt-1">
            <div class="col-10" >
                <h1 [ngStyle]="{'color' : !form.untouched ? 'red' : 'black' }">{{form.get('data').get('description').value}}</h1>
            </div>
            <div class="col-md-1" [ngStyle]="{'border-style' : !form.untouched ? 'solid' : 'none', 'border-color' : 'coral'}">
                <button mat-icon-button (click)="onSave($event)" color="primary" class="pull-right"
                    aria-label="Example icon button with a home icon">
                    <mat-icon>save</mat-icon>
                </button>
            </div>

        </div>


        <div class="row">
            <div class="col-12">
                <app-event-status></app-event-status>
            </div>
        </div>

       

        <mat-tab-group dynamicHeight animationDuration="0ms">
            <mat-tab label="Details">
                <div class="row mt-5">
                    <div class="col-md-12">
                        <app-event-details></app-event-details>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Documents">
                <ng-template matTabContent>
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <app-documents [eventId]="eventId"></app-documents>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>

            <!-- <mat-tab label="Status and Tasks">
                <div class="row mt-5">
                    <div class="col-md-12">

                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Files">
                <div class="row mt-5">
                    <div class="col-md-12">
                        <app-file-upload [projectId]=projectId></app-file-upload>
                    </div>s
                </div>
            </mat-tab> -->

        </mat-tab-group>

    </ng-container>





</div>